{% extends "!page.html" %}
{% block extrahead %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163003818-6"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-163003818-6');
  </script>
{% endblock %}

{% block footer %}
<script>
    (function() {
      if (!localStorage.getItem('cookieconsent')) {
        var banner = document.createElement("div");
        banner.innerHTML ='\
        <div class="cookieconsent" style="position:fixed;padding:18px;left:0;bottom:0;background-color:#121212;color:#FFF;text-align:center;width:100%;z-index:99999;">\
          This website uses cookies to gather general statistics about its usage. \
          <a href="#" style="font-size: 90%; border-radius: 5px; background-color: #CCCCCC; padding: 2px 7px; margin-left: 1em; color:black;">Hide</a>\
        </div>';
        document.body.appendChild(banner);
        document.querySelector('.cookieconsent a').onclick = function(e) {
          e.preventDefault();
          document.querySelector('.cookieconsent').style.display = 'none';
          localStorage.setItem('cookieconsent', true);
        };
      }
    })();
</script>
{% endblock %}
